/* Custom Fonts Starts Here */
@font-face{
    src: url("../fonts/Cairo-Regular.ttf");
    font-family:'Cairo-Regular';
}
/* Custom Fonts Ends Here */

/* Root Variables Starts Here */
:root{
	--ar-font: 'Cairo-Regular';
	--en-font: 'Cebtury-Gothic';
	--main-color: #4f36cf;
	--sec-color: #2feebb;
	--placeholder-color: #e9e3e3;
}
/* Root Variables Ends Here */

/* Global Style Starts Here */
*{
    padding: 0;
    margin: 0;
    outline: none;
	box-sizing: border-box;
	font-family: var(--ar-font);
}
body{
	width: 100%;
	height: 100%;
	direction: rtl;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
button{
	border: none;
	cursor: pointer;
}
/* Global Style Ends Here */

/* Seller Login Page Starts Here */
#login-page-wrapper{
	padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
	justify-content: center;
    background-image: url(../img/vertical-waves.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
	position: relative;
}
#login-page-wrapper::after{
	content: "";
	background: url(../img/horizontal-waves.webp);
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	position: absolute;
    bottom: 0;
    right: 0;
}
#login-page-wrapper header{
	text-align: center;
	margin-bottom: 20px;
}
#login-page-wrapper header h1{
	color: var(--main-color);
}
#login-box{
	width: 90%;
    display: flex;
    justify-content: center;
}
#slog-btn{
	border: 0;
    border-radius: 4px;
    padding: 10px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
.controls-container{
	width: calc(250px + 20%);
    min-width: 250px;
	display: flex;
	flex-flow: column;
}
.controls-container p{
	font-size: 12px;
	color: red;
	margin-bottom: 15px;
}
.control , .selection-control{
	height: 50px;
	background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 5px;
	position: relative;
	margin-bottom: 15px;
}
.control-label{
	font-size: 14px;
    color: var(--main-color);
    position: absolute;
    top: -12px;
    right: 8px;
    background: #fff;
    padding: 0px 4px;
} 
.control-label span{
	color: red;
}
.control .control-input{
	width: 96%;
    position: absolute;
    bottom: 2px;
	border: 0;
	font-size: 16px;
}
.err-msg{
	display: none;
	margin-top: 8px;
    text-align: center;
    font-size: 16px !important;
    font-weight: bold;
	color: red;
	transition: .3s;
}
/* Seller Login Page Ends Here */

/* Dashboard Starts Here */
.page-wrapper{
	width: 100%;
	min-height: 100vh;
	padding: 20px;
	background: #ecf0f9;
}
.page-content{
	min-height: calc(100vh - 40px);
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #ccc;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
	position: relative;
}
.page-content::before{
	content: "";
	width: 50%;
	height: 100vh;
	background: #dbdef7;
	position: fixed;
    top: 0;
    left: 0;
	clip-path: polygon(0% 100%, 0% 0, 70% 0, 100% 100%);
}
.side-menu{
	padding: 20px;
	min-width: 350px;
	height: 100%;
	background: #fff;
	margin-left: 20px;
	z-index: 1;
}
.side-menu-items{
	margin-top: 20px;
}
.side-menu-items li:first-of-type a{
	color: #6a74c9;
}
.side-menu-items li:not(:last-of-type){
	margin-bottom: 10px;
}
.side-menu-items a{
	display: block;
	width: 100%;
	font-size: 20px;
	color: #aeb5b3;
}
.content-section{
	padding: 20px;
	flex-grow: 1;
	height: 100%;
	background: #eff2f9;
	z-index: 1;
}
.row-section:not(:last-of-type){
	margin-bottom: 30px;
}
.section-title{
	color: #3e3e3e;
	margin-bottom: 20px;
}
.cards-container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.statistic-card{
	flex: 1;
    min-width: 280px;
    margin: 25px 15px 15px;
	padding: 20px;
	background: #fff;
	border-radius: 20px 0px 20px 20px;
	position: relative;
}
.statistic-card:first-of-type{
	background: #6a74c9;
}
.statistic-card::before{
	content: "";
	width: 150px;
	height: 50px;
	background: #fff;
	position: absolute;
	top: -35px;
    right: 0;
    border-top-right-radius: 20px;
	clip-path: polygon(0% 100%, 16% 0%, 100% 0, 100% 100%);
}
.statistic-card:first-of-type::before{
	background: #6a74c9;
}
.card-title{
	color: #aeb5b3;
	font-size: 16px;
    font-weight: normal;
	position: absolute;
    top: -25px;
}
.statistic-card:first-of-type .card-title{
	color: #fff;
}
.card-value{
	text-align: center;
	color: #aeb5b3;
	font-size: 40px;
}
.statistic-card:first-of-type .card-value{
	color: #fff;
}
.card-tail{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.detailed-statistics{
	flex: 1;
	margin: 10px 0px;
}
.detailed-statistics{
	text-align: center;
	color: #aeb5b3;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.statistic-card:first-of-type .detailed-statistics{
	color: #fff;
}
.detail-title{
	font-size: 14px;
	margin-bottom: 5px;
}
.circular-progress{
	width: 50px;
    height: 50px;
    border: 3px solid #ecf0f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circular-progress h5{
	font-size: 20px;
}
.list-row li:not(:last-of-type){
	margin-bottom: 20px;
}
.list-row a{
	padding: 5px;
	width: 100%;
	background: #fff;
	border-radius: 30px;
	display: flex;
    align-items: center;
	box-shadow: 2px 2px 15px #f1eeee;
}
.list-row .data{
	flex: 1;
	display: flex;
    align-items: center;
}
.list-row .data span{
	margin-left: 15px;
	color: #aeb5b3;
}
.list-row img{
	width: 60px;
    height: 60px;
    border-radius: 50%;
	margin-left: 15px;
}
.list-row .options{
	padding: 5px;
	display: flex;
}
.mini-approve,
.mini-discard{
	padding: 5px 10px 5px 14px;
    border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mini-approve{
	background: #cdf7c8;
	color: #249616;
	margin-left: 8px;
}
.mini-discard{
	background: #ffdddd;
	color: #bd3030;
}
/* Dashboard Ends Here */

/* View Seller Page Starts Here */
.seller-intro{
	display: flex;
	align-items: center;
}
.seller-intro img{
	width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #ccc;
	margin-left: 20px;
}
.seller-intro .seller-main-data{
	flex: 1;
}
.seller-intro .seller-main-data h3{
	color: #3e3e3e;
}
.seller-intro .seller-main-data h5{
	color: #aeb5b3;
	font-weight: normal;
	font-size: 17px;
}
.key-value{
	font-size: 17px;
	color: #3e3e3e;
}
.key-value .key{
	margin-left: 10px;
}
.key-value .value{
	font-weight: bold;
}
.img-preview{
	position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.img-preview span{
	position: absolute;
    top: -18px;
    right: 5px;
    background: #eff2f9;
    padding: 0px 8px;
}
.img-preview img{
	width: 500px;
	height: 500px;
	
}
/* View Seller Page Ends Here */