/* Custom Fonts Starts Here */
@font-face{
    src: url("../fonts/Cairo-Regular.ttf");
    font-family:'Cairo-Regular';
}
/* Custom Fonts Ends Here */

/* Root Variables Starts Here */
:root{
	--ar-font: 'Cairo-Regular';
	--main-color: #4f36cf;
	--sec-color: #2feebb;
	--placeholder-color: #e9e3e3;
}
/* Root Variables Ends Here */

/* Global Style Starts Here */
*{
    padding: 0;
    margin: 0;
    outline: none;
	box-sizing: border-box;
	font-family: var(--ar-font);
}
html{
	scroll-behavior: smooth;
}
body{
	width: 100%;
	height: 100%;
	direction: rtl;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
button{
	border: none;
	cursor: pointer;
}
/* Global Style Ends Here */

/* Landing Page Starts Here */
header.fixed{
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
}
.main-nav{
	width: 80%;
	margin: 10px auto;
	background: #15243f;
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 5px 15px;
	border-radius: 36px;
	position: relative;
}
.nav-logo img{
	width: 100px;
	height: auto;
}
.nav-menu{
	flex: 1;
	display: flex;
	justify-content: center;
}
.nav-logo{
	margin-left: 20px;
	width: 100px;
    height: 40px;
}
.nav-menu-item{
	margin: 0px 10px;
}
.menu-item-content{
	color: #fff;
	font-size: 18px;
	transition: .5s;
	position: relative;
}
.active-tab::after{
	content: "";
	width: 20px;
	height: 2px;
	background: #2feebb;
	position: absolute;
	bottom: 0;
	right: 0;
}
.active-tab{
	color: #2feebb;
}
#menu-collapse{
	position: absolute;
    left: 20px;
	width: 30px;
	height: 30px;
	background: #15243f;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
    align-items: end;
	visibility: hidden;
}
#menu-collapse span:not(:nth-of-type(2)){
	width: 25px;
	height: 2px;
	background: #2feebb;
}
#menu-collapse span:nth-of-type(2){
	width: 15px;
	height: 2px;
	background: #2feebb;
}
.full{
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	scroll-behavior: smooth;
}
.full:not(:first-of-type){
	padding-top: 80px;
	text-align: center;
}
.skewed{
	width: 100%;
	min-width: 300px;
	height: 100vh;
	padding: 20px;
	display: flex;
    flex-flow: column;
    justify-content: center;
	align-items: flex-start;
	position: relative;
}
.skewed h1::before{
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: -50px;
	right: 5px;
	background: url("../../views/img/lines.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.intro{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url(../../views/img/intro.png);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: top;
}
.skewed h1{
	font-size: 40px;
	color: #2feebb;
	position: relative;
}
.skewed h3{
	font-size: 26px;
	color: #fff;
	margin-bottom: 20px;
}
.skewed p{
	width: 60%;
	color: #fff;
	margin-bottom: 20px;
}
.pr-btn{
	background: #15243f;
	color: #fff;
	padding: 6px 30px;
	border: none;
	border-radius: 25px;
	font-size: 17px;
	box-shadow: 3px 4px #2feebb;
}
.intro-drcoration{
	position: absolute;
    bottom: 10px;
    right: 50%;
    width: 100px;
    height: 100px;
}
.has-decoration{
	font-size: 26px;
	text-align: center;
    color: #3e3e3e;
    margin-bottom: 20px;
	position: relative;
}
.features{
	min-height: 100%;
}
.features-container{
	margin-top: -90px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
	position: relative;
}
.feature{
	width: 300px;
	padding: 20px;
}
.feature:nth-of-type(2){
	margin-top: 60px;
}
.feature i{
	font-size: 50px;
    color: #15243f;
	position: relative;
}
.feature i::after{
	content: "";
    position: absolute;
    top: 22px;
    right: 46px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2feebb;
    z-index: -1;
}
.feature h4{
	font-size: 20px;
    color: #15243f;
}
.feature p{
	width: 70%;
    margin: 0 auto;
}
.contact-us{
	background: #15243f;
}
.contact-sections{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.contact-sections section{
	flex: 1;
	padding: 20px;
	display: flex;
    flex-flow: column;
    align-items: center;
}
.contact-sections .has-decoration{
	color: #2feebb;
}
.contact-sections p{
	color: #fff;
	width: 70%;
}
.contact-form{
	width: 100%;
	margin-top: 20px;
    padding: 20px;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.control{
	width: 80%;
	margin-bottom: 10px;
}
.control label{
	color: #2feebb;
	display: block;
	text-align: right;
	margin-right: 15px;
	margin-bottom: 4px;
}
.control > *:not(label){
	width: 100%;
    padding: 6px 10px;
    border-radius: 25px;
    border: none;
    background: #cccc;
	font-size: 18px;
	color: #3e3e3e;
}
.control textarea{
	resize: none;
	height: 120px;
}
.contact-action{
	display: flex;
	align-items: center;
}
.contact-err{
	display: none;
	margin-right: 10px;
	color: #fff;
	font-weight: bold;
}
.contact-success{
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 18px;
}
.contact-img img{
	width: 300px;
	min-width: 300px;
    height: auto;
    object-fit: cover;
}
.contact-info p{
	width: 100%;
	font-size: 18px;
	text-align: left;
}
.icon-phone:before{
	transform: rotate(136deg);
}
/* Landing Page Ends Here */

/* User Guide Page Starts Here */
.knowledge , .c-questions{
	padding-top: 80px;
}
.section-description{
	width: 70%;
    margin: 0 auto;
    text-align: center;
}
.tab{
	margin-bottom: 20px;
}
.tabs{
	padding: 20px;
}
.tab header{
	padding: 10px;
	display: flex;
	align-items: center;
	color: #15243f;
    border-radius: 25px;
	box-shadow: 4px 6px 9px 0px #eaeaea;
	cursor: pointer;
}
.tab header i{
	margin-left: 10px;
}
.answer{
	padding: 10px;
	display: none;
}

/* User Guide Page Ends Here */
/* Media Query For 900px And Less Starts Here */
@media only screen and (max-width: 900px) {
	.features-container,
	.feature:nth-of-type(2){
		margin-top: 0;
	}
}
/* Media Query For 900px And Less Ends Here */

/* Media Query For 750px And Less Starts Here */
@media only screen and (max-width: 750px) {
	.contact-sections{
		flex-flow: column;
		align-items: center;
	}
	.contact-sections .left{
		flex-flow: row-reverse;
		justify-content: center;
		flex-wrap: wrap;
	}
}
/* Media Query For 750px And Less Ends Here */

/* Responsive Menu Starts Here */
@media only screen and (max-width: 710px){
	#menu-collapse{
		visibility: visible;
	}
	.nav-menu{
		width: 100%;
		display: none;
		flex-flow: column;
    	align-items: start;
		position: absolute;
		left: 0px;
		top: 48px;
		background: #15243f;
	}
	.nav-menu-item{
		padding-right: 40px;
	}
	.nav-menu-item:last-of-type{
		margin-bottom: 10px;
	}
}
@media only screen and (min-width: 710px){
	.main-nav{
		border-radius: 36px !important;
	}
	#menu-collapse{
		visibility: hiden;
	}
	.nav-menu{
		width: 100%;
		display: flex;
		flex-flow: row;
    	align-items: start;
		position: unset;
		left: 0px;
		top: 0px;
		background: #15243f;
	}
	.nav-menu-item{
		padding-right: 0px;
	}
	.nav-menu-item:last-of-type{
		margin-bottom: 0px;
	}
}
/* Responsive Menu Ends Here */