/* Custom Fonts Starts Here */
@font-face{
    src: url("../fonts/Cairo-Regular.ttf");
    font-family:'Cairo-Regular';
}
/* Custom Fonts Ends Here */

/* Root Variables Starts Here */
:root{
	--ar-font: 'Cairo-Regular';
	--main-color: #4f36cf;
	--sec-color: #2feebb;
	--placeholder-color: #e9e3e3;
}
/* Root Variables Ends Here */

/* Global Style Starts Here */
*{
    padding: 0;
    margin: 0;
    outline: none;
	box-sizing: border-box;
	font-family: var(--ar-font);
}
body{
	width: 100%;
	height: 100%;
	direction: rtl;
}
a{
	text-decoration: none;
}
/* Global Style Ends Here */

/* Seller Login Page Starts Here */
#login-page-wrapper{
	padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
	justify-content: center;
    background-image: url(../img/vertical-waves.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
	position: relative;
}
#login-page-wrapper::after{
	content: "";
	background: url(../img/horizontal-waves.webp);
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	position: absolute;
    bottom: 0;
    right: 0;
}
#login-page-wrapper header{
	text-align: center;
	margin-bottom: 20px;
}
#login-page-wrapper header h1{
	color: var(--main-color);
}
#login-box{
	width: 90%;
    display: flex;
    justify-content: center;
}
#slog-btn{
	border: 0;
    border-radius: 4px;
    padding: 10px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
/* Seller Login Page Ends Here */

/* Seller Registration Page Starts Here */
#reg-page-wrapper{
	display: flex;
	align-items: flex-start;
}
#reg-page-wrapper::after{
	content: "";
    background: url(../img/horizontal-waves.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
}
#reg-stepper{
	padding: 20px;
	min-width: 350px;
	min-height: 100vh;
	position: relative;
}
#reg-stepper::before{
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
	background-image: url("../img/vertical-waves.webp");
	background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
	z-index: -1;
}
#reg-stepper header{
	text-align: center;
}
#reg-stepper h1{
	color: var(--main-color);
	font-size: 22px;
}
:is(#reg-stepper) p,a{
	font-size: 16px;
}
#steps-progress{
	margin-top: 20px;
}
#steps-notes{
	position: relative;
}
#steps-notes:before{
	content: "";
    width: 2px;
    height: 100%;
    background: var(--main-color);
    position: absolute;
    top: 0;
    right: 18px;
    z-index: -1;
}
#steps-progress .step{
	margin-top: 10px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
#steps-progress .step .tick{
	width: 40px;
    height: 40px;
    border: 6px solid var(--sec-color);
    background: var(--main-color);
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
#reg-steps{
	width: calc(100% - 350px);
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 10px;
}
#reg-slides-container{
	min-width: 100%;
	display: flex;
	overflow: hidden;
}
.reg-slide{
	min-width: 100%;
	display: flex;
    flex-flow: column;
	align-items: center;
	transition: .6s linear;
}
.reg-slide h2{
	text-align: center;
	color: var(--main-color);
	margin-bottom: 10px;
}
.controls-container{
	width: calc(250px + 20%);
    min-width: 250px;
	display: flex;
	flex-flow: column;
}
.controls-container p{
	font-size: 12px;
	color: red;
	margin-bottom: 15px;
}
.control , .selection-control{
	height: 50px;
	background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 5px;
	position: relative;
	margin-bottom: 15px;
}
.control-label{
	font-size: 14px;
    color: var(--main-color);
    position: absolute;
    top: -12px;
    right: 8px;
    background: #fff;
    padding: 0px 4px;
} 
.control-label span{
	color: red;
}
.control .control-input{
	width: 96%;
    position: absolute;
    bottom: 2px;
	border: 0;
	font-size: 16px;
} 
.control-select{
	width: 97%;
	position: absolute;
    bottom: 5px;
    border: 0;
}
.selection-control .selection-container{
	width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5px;
}
.selection-control .selection-container div{
	display: flex;
    align-items: center;
}
.full-check-control{
	font-size: 14px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.full-check-control input,
.selection-control input{
	appearance: none;
    background-color: #fff;
    border: 2px solid var(--sec-color);
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 5px;
    transition: .5s;
}
.full-check-control input:checked{
	background-color: var(--sec-color);
    border: 2px solid var(--sec-color);
    color: #fff;
}
.selection-control input:checked{
	background-color: var(--sec-color);
    border: 2px solid var(--sec-color);
    border-radius: 50%;
    color: #fff;
}
.full-check-control input:checked:after{
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -5px;
	left: 2px;
	color: #fff;
}
.selection-control input:checked:after{
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -5px;
	left: 2px;
	color: #fff;
}
.upload-btn{
	align-self: flex-start;
	display: block;
    margin-top: -8px;
	margin-bottom: 15px;
    border: 0;
    background: #fff;
    cursor: pointer;
    color: var(--main-color);
	font-size: 14px;
    font-weight: bold;
}
.upload-btn span{
	font-size: 12px;
    font-weight: normal;
	color: red;
}
.controls-container form{
	display: none;
}
.udinfo{
	display: none;
	width: 100%;
	padding: 5px;
	margin-top: -10px;
	margin-bottom: 15px;
	border-bottom : 1px solid #e9e3e3;
	align-items: center;
}
.udinfo img{
	width: 20px;
	height: 20px;
	margin-left: 5px;
}
.slide-btns{
	display: flex;
	justify-content: space-between;
}
.next-slide{
	margin: 0px 5px;
	flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--main-color);
	color: #fff;
	cursor: pointer;
	font-size: 15px;
}
.only-btn{
	width: 100%;
}
#saccreg-btn{
	border: 0;
    border-radius: 4px;
    padding: 10px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
	font-size: 15px;
}
.previous-slide {
    margin: 0px 5px;
    flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--placeholder-color);
    color: #797272;
    cursor: pointer;
	font-size: 15px;
}
.slater-btn{
	flex: 1;
	padding: 10px 5px;
	background: var(--main-color);
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 15px;
}
#sreg-btn{
	flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--main-color);
	color: #fff;
	cursor: pointer;
	font-size: 15px;
}
.err-msg{
	display: none;
	margin-top: 8px;
    text-align: center;
    font-size: 16px !important;
    font-weight: bold;
	color: red;
}

/* Pendding Page Starts Here */
#pendding-page-wrapper{
	width: 100%;
	padding: 20px;
	text-align: center;
	position: relative;
}
#pendding-page-wrapper:after{
	content: "";
    background: url(../img/horizontal-waves.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
}
#pendding-page-wrapper h1{
	color: var(--main-color);
	margin: 20px auto;
}
#pendding-page-wrapper p{
	width: 70%;
	margin: 0 auto 20px auto;
}
#surf{
	display: flex;
    justify-content: center;
}
input[type="file"]{
	display: none;
}
#btn-options{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#sufbtn{
	width: 45%;
	margin: 0px 5px;
    flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
#signout{
	width: 45%;
	margin: 0px 5px;
    flex: 1;
    border: 0;
    border-radius: 4px;
    padding: 10px 5px;
    background: var(--placeholder-color);
    color: #797272;
    cursor: pointer;
    font-size: 15px;
}
/* Pendding Page Ends Here */

/* Media Queries For Screens Less Than 750px Starts Here*/
@media only screen and (max-width: 750px) {
	#reg-page-wrapper{
		flex-flow: column;
	}
	#reg-stepper{
		min-width: 100%;
		min-height: unset;
	}
	#reg-stepper::before{
		width: 30vw;
    	height: 40vh;
		background-size: cover;
    	transform: rotateX(180deg);
		right: -5%;
	}
	#reg-steps{
		width: 100%;
	}
	#steps-progress{
		text-align: center;
	}
	#steps-notes{
		display: flex;
    	justify-content: space-between;
	}
	#steps-notes:before{
		width: 100%;
    	height: 2px;
		top: 28px;
		right: 0;
	}
	#steps-progress .step{
		flex-flow: column;
	}
}
/* Media Queries For Screens Less Than 750px Ends Here*/













